.app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;

  &_header {
    background: red;

    &:hover {
      background: blue;
    }

    h1 {
      color: #fff;

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }
}
